.cart{
    width: 400px;
    position:sticky;
    top: 0;
   
}
.btn1{
    color: black;
}

    .info img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-left:110px;
        margin-top: 20px;
    }
    .info {
        margin:0 50px;
        font-size: 20px;
    
    }
    .title{
        font-weight: 600;
        font-style: italic;
        
    }
    .break-btn{
        margin-top: 50px;
    }
    .break-btn h3{
        text-align: center;
    }
    .all-btn{
       
        display: flex;
        align-items: center;
        
    }
    .button{
        color: black;
    }
    .all-btn p{
        background-color:pink;
        width: 50px;
        height: 50px;
        padding: 5px;
        border-radius: 5px;
        margin: 5px 10px;
        
    }
    .activity-time{
        margin-top: 60px;
        margin-left: 30px;
    }
    .activity-time h3{
        text-align: center;
    }
    .activity-time p{
        font-size: 20px;
    }
    .btn-cart{
      margin-top: 500px;
      height: 60px;
    }
    
    