.activity{
    width: 300px;
    height: 500px;
    border: 2px solid lightgray;
    margin: 30px;
    border-radius: 5px;
    position: relative;
    
}
.activity img{
    width: 300px;
    height: 300px;
    object-fit:cover;
    border-radius: 5px;
    
}
.detail{
    margin-left: 20px;
}
.activity-name{
    font-family: 'Lato';
    font-weight: 500;
    font-size: 21px;
    font-style: normal;
}
.activities button{
    width: 100%;
    font-size: 22px;
    padding: 5px;
    background-color: mediumslateblue;
    border:none;
    border-radius: 5px;
    color: white;
    position: absolute;
    bottom: 0;
}
.activities button:hover{
    background-color: blueviolet;
}
.pera{
    font-size: 13px;
    
}
