.activities{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.activities-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 10px;

}
.cart-activities{
background-color: rgb(252, 250, 250);

};
.text{
   margin-left: 100px;
}

@media screen and (max-width:767px) {
    .activities{
        display: grid;
        grid-template-columns:repeat(2,1fr);
    }
    .activities-container{
        display: grid;
        grid-template-columns: 1fr;
        width: 200px;
    }
    .text{
        font-size: 10px;
        margin-left: 50px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px){
    .activities{
        display: grid;
        grid-template-columns:2fr,1fr;
        position: sticky;

    }
    .activities-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
    .text{
        font-size: 12px;
        margin-left: 50px;
        text-align: center;
    }
}