.activities{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.activities-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.cart-activities{
    position: sticky;
background-color: rgb(252, 250, 250);
margin: 20px;
width: 400px

};
